.answer {
  display: flex;
  min-width: 500px; 
  width: 80%;
  height: 100px;
  margin: 10px;
  perspective: 1000px;
}

.contentAnswer {
  position: relative;
  display: flex;
  flex: 1;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.contentRevealed.contentAnswer {
  transform: rotateY(180deg);
}

.front, .back {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.front {
  align-items: center;
  border-radius: 12px;
  padding: 15px;
  color: #000;
  background-color: #fff;
}

.back {
  transform: rotateY(180deg);
}

.back > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  border-radius: 12px;
}

.correct {
  background-color: #2BAA6D;
}

.incorrect {
  background-color: #E44A4C;
}

.correct .value, .incorrect .value {
  font-size: 1.5rem;
}

.letter {
  heigth: 40px;
  width: 40px;

  display: flex;
  jusitfy-content: center;
  align-items: center;

  border-radius: 20px;
  margin-right: 20px;

  color: #fff;
  font-size: 1.3rem;
  font-weight: 700;
}

.value {
  font-size: 1.3rem;
  font-weight: 700;
}